@font-face {
    font-family: TTHoves-Regular;
    src: url('/assets/fonts/TTHoves-Regular.woff') format('woff'),
        url('/assets/fonts/TTHoves-Regular.ttf');
}

@font-face {
    font-family: TTHoves-DemiBold;
    src: url('/assets/fonts/TTHoves-DemiBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-DemiBold.ttf');
}

@font-face {
    font-family: TTHoves-ExtraBold;
    src: url('../assets/fonts/TTHoves-ExtraBold.woff') format('woff'),
        url('../assets/fonts/TTHoves-ExtraBold.ttf');
}

@font-face {
    font-family: TTHoves-Medium;
    src: url('/assets/fonts/TTHoves-Medium.woff') format('woff'),
        url('/assets/fonts/TTHoves-Medium.ttf');
}

/*header*/
/*header end*/

/*about__us*/
/*about__us end*/

/*why__us*/
.why__us {
    background-color: #32495E;
    padding: 70px 115px;
}

.why__us-header {
    font-family: TTHoves-ExtraBold;
    font-size: 44px;
    color: #8093AC;
}

.why__us-adv {
    color: #F9F9F9;
}

/*why__us end*/