@font-face {
    font-family: TTHoves-Regular;
    src: url('../fonts/TTHoves-Regular.woff') format('woff'),
        url('../fonts/TTHoves-Regular.ttf');
}

@font-face {
    font-family: TTHoves-DemiBold;
    src: url('../fonts/TTHoves-DemiBold.woff') format('woff'),
        url('../fonts/TTHoves-DemiBold.ttf');
}

@font-face {
    font-family: TTHoves-ExtraBold;
    src: url('../fonts/TTHoves-ExtraBold.woff') format('woff'),
        url('../fonts/TTHoves-ExtraBold.ttf');
}

@font-face {
    font-family: TTHoves-Medium;
    src: url('../fonts/TTHoves-Medium.woff') format('woff'),
        url('../fonts/TTHoves-Medium.ttf');
}


.title2 {
    font-family: 'TTHoves-ExtraBold';
    font-size: 44px;
    line-height: 52px;
    color: #F9F9F9;

}


/*header*/
.header {
    background: #32495E;
}

.about__us-header {
    font-family: 'TTHoves-ExtraBold';
    font-size: 50px;
    color: #F3F5FA;
    line-height: 68px;
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 70px;
}

.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
    font-family: 'TTHoves-Medium';
}

.header__nav-list {
    padding-right: 30px;
    font-size: 14px;
    color: #F9F9F9;
}

.header {
    background-image: url(../images/about_us_header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__logo {
    padding-top: 20px;
}

/*header end*/


/*why__us*/
.why__us {
    background-color: #32495E;
    padding-top: 70px;
    padding-bottom: 70px;
}

.why__us-header {
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 44px;
    color: #8093AC;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 70px;
}

.why__us-list {
    padding-left: 70px;
}

.test {
    justify-content: center;
}

.why__us-adv {
    color: #F9F9F9;
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 19.92px;
}

.why__us-info {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17.43px;
    color: #F9F9F9;
}

.why__us__photo {
    padding-bottom: 30px;
}


/*why__us end*/

/*recommened*/
.recommened {
    background: #32495E;
}

.recommened__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.recommened__item1 {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.recommened__item2 {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
    padding-left: 60px;
}

.recommened__item3 {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    background: #0E2942;
    color: #8093AC;
    font-size: 14px;
    line-height: 17.43px;
    font-family: ' TTHoves-DemiBold', 'Times New Roman', Times, serif;
    padding: 27px 180px 38px 60px;
}

.recommened__item4 {
    grid-row: 4 / 6;
    grid-column: 1 / 2;
    padding-left: 70px;
}

.recommened__item5 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    background: #0E2942;
    color: #8093AC;
    font-size: 14px;
    line-height: 17.43px;
    font-family: ' TTHoves-DemiBold', 'Times New Roman', Times, serif;
    padding: 27px 180px 38px 70px;
}

.recommened__item6 {
    grid-row: 4 / 7;
    grid-column: 2 / 3;
}

.recommened__title {
    padding-top: 70px;
    padding-bottom: 12px;
}

.recommened__text {
    font-family: 'TTHoves-DemiBold', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17.43px;
    color: #F9F9F9;
    padding-right: 180px;
}

/*recommened*/

/*recommendations*/
.recommendations__header {
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 44px;
    line-height: 52px;
    color: #32495E;
    padding-top: 70px;
    padding-bottom: 70px;
}

.recommendations__container {
    padding-left: 70px;
}


.recommendations__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 46px;
}

.recommendations__img {
    object-fit: cover;
}

/*recommendations end*/


/*contacts*/

.contacts__container {
    padding-left: 70px;
}

.contacts__title {
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 44px;
    line-height: 52 px;
    color: #32495E;
    padding-bottom: 40px;
}

.contacts__map {
    padding-bottom: 40px;
}

.contacts__info {
    display: grid;
    grid-template-columns: 25% 25% 30%;
    grid-column-gap: 60px;
}

.title-h3 {
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 19.92px;
    color: #32495E;
}

.specialists__name-info {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 24px;
    color: #32495E;
}

/*contacts end*/

/*footer*/
.footer {
    background-color: #333333;
}

.footer__all {
    padding-top: 70px;
}

.footer__col_title {
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
    padding-left: 15px;
}

.footer__col_link {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
}

.footer__col_rights {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footer__col_up {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    transform: rotate(-90deg);
}

/*footer end*/