@font-face {
    font-family: TTHoves-Regular;
    src: url('/assets/fonts/TTHoves-Regular.woff') format('woff'),
        url('/assets/fonts/TTHoves-Regular.ttf');
}

@font-face {
    font-family: TTHoves-DemiBold;
    src: url('/assets/fonts/TTHoves-DemiBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-DemiBold.ttf');
}

@font-face {
    font-family: TTHoves-ExtraBold;
    src: url('/assets/fonts/TTHoves-ExtraBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-ExtraBold.ttf');
}

@font-face {
    font-family: TTHoves-Medium;
    src: url('/assets/fonts/TTHoves-Medium.woff') format('woff'),
        url('/assets/fonts/TTHoves-Medium.ttf');
}


.title__dark {
    font-family: TTHoves-ExtraBold;
    font-size: calc(20px + 20* (100vw / 1280));
    color: #32495E;
}

.title__white {
    font-family: TTHoves-ExtraBold;
    font-size: calc(20px + 20* (100vw / 1280));
    color: #ffffff;
}


.specialists__title {
    padding-top: 70px;
    margin-bottom: 60px;
    text-transform: uppercase;
}


.all_services {
    color: #32495E;
    border: 1px solid #32495E;
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding-top: 15px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
}

.row {
    font-family: 'TTHoves-Medium', 'Times New Roman', Times, serif;
}

.light_btn {
    border: 1px solid #ffffff;
    color: #ffffff;
}

/*header*/

.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
}

.header__nav-list {
    padding-right: 40px;
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
}

.btn-group__services {
    font-family: TTHoves-Regular;
    font-size: 14px;
}

@media (max-width:900px) {
    .header__nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__navigation {
        padding-left: 110px;
    }

    .header__navigation_1 {
        padding-left: 98px;
    }
}

@media (max-width:1024px) {
    .header__nav-list {
        padding-right: 20px;
        color: white;
    }
}



/*header end*/

/*services*/

.header__services {
    padding-top: 70px;
    padding-bottom: 40px;
}

.services {
    background-color: #32495E;
}

.services__button {
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding-top: 15px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    margin-top: 30px;
}

.header__services-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.services__block {
    display: flex;
    flex-direction: column;
}

.services__block_img {
    position: relative;
    width: 100%;
    height: 220px;
}

.services__block-text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19.92px;
    color: #F9F9F9;
    padding-top: 20px;
}

.services__block_text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.43px;
    color: #F9F9F9;
    visibility: hidden;
}

.services__block_card:active {
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    background: linear-gradient(to bottom, rgba(50, 73, 94, 0.6) 50%, #E95258 50%);
    padding-top: 170px;
    padding-left: 20px;
    padding-right: 20px;
}


.services__block_text:active {
    visibility: visible;
}



/*services end*/

.main__about__cardio {
    position: relative;
    background-color: #E95258;
    height: 100%;
}

.main__about {
    position: relative;
    width: 100%;
}

.main__about__cardio-logo {
    padding-top: 20px;
    padding-left: 115px;
    padding-bottom: 30px;
}

.main__title__white {
    font-family: TTHoves-ExtraBold;
    font-size: calc(16px + 12*(100vw / 1280));
}

.main__title__dark {
    font-family: TTHoves-ExtraBold;
    font-size: calc(16px + 12*(100vw / 1280));
}

.main__about__par {
    font-size: calc(12px + 2*(100vw / 1280));

}

.main__about__cardio {
    background-color: #E95258;
    height: 100%;
}

@media screen and (min-width:770px) {
    .main__nav {
        display: none;
    }
}

@media screen and (max-width:769px) {
    .main__nav_travm {
        display: none;
    }
}

.cardio__list {
    list-style-type: none;
    padding-right: 0;

}


ul {
    padding: 20px;
}

.main__about {
    height: 100%;
}

.main__about__travm {
    background-color: #F9F9F9;
}

.cardio__link {
    color: white;
    text-decoration: none;
    padding: 0;
}

.cardio__link:hover {
    color: #32495E;
}

.travm__link {
    color: #32495E;
    padding: 0;
}

.travm__link:hover {
    color: black;
}

@media screen and (max-width:425px) {

    .сardio__photo {
        display: none;
    }

    .travm__photo {
        display: none;
    }

    .header__nav-list-white-all {
        color: #F9F9F9;
    }

    .main__about {
        display: grid;
        grid-template-columns: 100% 100%;
    }

    .main__about__cardio__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        box-sizing: border-box;
        margin-top: 90px;
        margin-bottom: 50px;
        margin-left: 10px;
        color: white;
        z-index: 1;

    }

    .main__about__travm__info {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-left: 10px;
        margin-top: 90px;
        margin-bottom: 50px;
        color: #32495E;
    }

    .cardio__list__items {
        background-image: url(/assets/images/elipse.png);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 16px;
    }

    .cardio__list {
        padding-left: 4px;
    }
}


@media screen and (max-width:768px) and (min-width:426px) {


    .сardio__photo {
        display: none;
    }

    .travm__photo {
        display: none;
    }

    .main__about__cardio {
        height: 800px;
    }

    .main__about__travm__info-title {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main__about {
        display: grid;
        grid-template-columns: 100% 100%;
    }

    .main__about__cardio {
        grid-row: 1/2;
    }

    .main__about__travm {
        grid-row: 2/3;
    }

    .main__about__cardio__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        box-sizing: border-box;
        margin-top: 90px;
        margin-bottom: 50px;
        padding-left: 100px;
        color: white;
        z-index: 1;

    }

    .main__about__travm__info {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 100px;
        margin-top: 90px;
        margin-bottom: 50px;
        color: #32495E;
    }

    .cardio__list__items {
        background-image: url(/assets/images/elipse.png);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 16px;
    }

    .cardio__list {
        padding-left: 4px;
    }
}

@media screen and (min-width: 1025px) {
    .main__about {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .main__about__cardio {
        position: relative;
        width: 100%;
    }

    .сardio__photo {
        position: absolute;
        width: 395px;
        left: -100px;
        bottom: 0;
    }

    .travm__photo {
        position: absolute;
        width: 31%;
        height: 75%;
        bottom: -20px;
        right: -30px;
        object-fit: contain;
    }

    .main__about__cardio__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        box-sizing: border-box;
        margin-top: 90px;
        margin-bottom: 50px;
        padding-right: 100px;
        color: white;
        z-index: 1;

    }

    .main__about__travm__info {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 100px;
        margin-top: 90px;
        margin-bottom: 50px;
        color: #32495E;
    }

    .cardio__list__items {
        background-image: url(/assets/images/elipse.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 16px;

    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {

    .main__about {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .main__about__cardio {
        height: 800px;
    }

    .main__about__cardio-menu {
        display: block;
        width: 900px;
    }

    .main__nav_travm {
        display: none;
    }

    .main__about__travm__info-title {
        padding-top: 150px;
    }

    .header__nav-list-white {
        color: #F9F9F9;
    }

    .main__about__cardio__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        box-sizing: border-box;
        margin-top: 90px;
        margin-bottom: 50px;
        padding-right: 100px;
        color: white;
        z-index: 1;
    }

    .сardio__photo {
        display: none;
    }

    .travm__photo {
        display: none;
    }

    .main__about__travm__info {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 100px;
        margin-top: 90px;
        margin-bottom: 50px;
        color: #32495E;
    }

    .cardio__list__items {
        background-image: url(/assets/images/elipse.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 16px;
    }
}



.specialists {
    background-color: #F9F9F9;
}

.specialists__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 75px;
    justify-items: baseline;
}

.specialists__photo {
    margin-bottom: 30px;
    border-radius: 50%;

}

.title-h3 {
    font-family: TTHoves-ExtraBold;
    font-size: 16px;
    color: #32495E;
}

.specialists__name-info {
    margin-bottom: 55px;
    font-family: TTHoves-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.43px;
    color: #32495E;
    text-align: justify;
}

.btn-center {
    text-align: center;
    padding-bottom: 70px;

}

html {
    font-size: 1rem;
}

/*price-list*/

.price-list__header {
    font-size: 14px;
}

.price-list__service {
    font-size: 16px;
    font-weight: 800;
    line-height: 19.92px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #8093AC;
    padding-bottom: 20px;
}

@media (max-width:600px) {
    .price-list__service {
        font-size: 14px;
    }
}

.price-list__price {
    font-size: 16px;
    font-weight: 800;
    line-height: 19.92px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #32495E;
    padding-bottom: 20px;
}

.price-list__services {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #32495E;
    padding-bottom: 30px;
}

.price-list__services1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #32495E;
    padding-bottom: 30px;
}

.header__price-list {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-top: 70px;
}

.price-list__button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/*price-list end*/

.header__list-btn {
    font-size: 14px;
}

.header__news {
    margin-top: 30px;
}

.header__news_card {
    margin-top: 30px;
}

.media {
    background-color: #32495E;
}

.media__title {
    margin-bottom: 35px;
    text-transform: uppercase;
}

.media__links {
    margin-bottom: 55px;
}

.media__link {
    color: #f9f9f9;
    margin-right: 35px;

}

.media__list {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.media__list>.media__item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.light__btn {
    color: #fff;
    border: 1px solid #ffff;
}

.media__btn {
    padding-top: 50px;
}


.news__cards {
    margin-top: 40px;
    margin-bottom: 40px;
}

.news__cards_img {
    position: relative;
    width: 100%;
}

.news__cards_card {
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    background-color: #E95258;
    padding: 19px;
}

.news__cards_title {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
}

.news__cards_text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
}

.news__cards_card-link {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
}

.news__button {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.qa__container {
    background-color: #32495E;
    padding-bottom: 20px;
}

.qa__header {
    background-color: #49647D;
    margin-left: -10%;
    margin-right: -15px;
    margin-bottom: 38px;
    padding-left: 20%;
}

.qa__container_trait {
    padding-top: 60px;
}

.qa__container_question li {
    list-style-type: none;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 2.5;
    color: #F9F9F9;
}

.qa__container_ask {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #F9F9F9;
    padding-left: 90px;
}

.qa__container_question-text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    padding-top: 10px;
}

.img {
    background: url("/assets/images/qa_left.png") no-repeat;
    height: 16px;
    width: 16px;
}

.qa__container_question-1 {
    margin-top: 25.5px;
}

.img:hover {
    background: url("/assets/images/qa-right.png") no-repeat;
    height: 16px;
    width: 16px;
}

/* reccommend */
.recommend__header {
    box-sizing: border-box;
    margin-top: 70px;
}

.recommend__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 35px;

}

.recommend__img {
    object-fit: cover;
}

/* recommend end */
.contacts {
    background-color: #F9F9F9;
}

.contacts__map {
    padding-bottom: 50px;
}

.contacts__info {
    display: grid;
    grid-template-columns: 24% 24% 30% 32%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .contacts__info {
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }
}

@media screen and (max-width: 768px) {
    .contacts__info {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5px;
    }
}

.contacts__item {
    line-height: 24px;
}

.footer {
    background-color: #333333;
}

.footer__col_logo,
.footer__col_title,
.footer__col_arrows {
    padding-top: 40px;
}

.footer__col_title {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
}

.footer__col_link {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    padding-bottom: 40px;
}

.footer__col_title-link {
    color: #F9F9F9;
}

.footer__col_up {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    transform: rotate(-90deg);
}

@media (max-width:1200px) {
    .header {
        background: #E95258;
    }

    .price-list__services1 {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .footer__col_up {
        display: none;
    }

}

footer li:not(:first-of-type) {
    margin-bottom: -40px;
}

footer li:first-of-type {
    margin-bottom: -40px;
}



@media screen and (max-width: 1023px) {
    .main__about {
        display: grid;
        grid-template-rows: 50% 50%;
    }
}