@font-face {
    font-family: TTHoves-Regular;
    src: url('/assets/fonts/TTHoves-Regular.woff') format('woff'),
        url('/assets/fonts/TTHoves-Regular.ttf');
}

@font-face {
    font-family: TTHoves-DemiBold;
    src: url('/assets/fonts/TTHoves-DemiBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-DemiBold.ttf');
}

@font-face {
    font-family: TTHoves-ExtraBold;
    src: url('/assets/fonts/TTHoves-ExtraBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-ExtraBold.ttf');
}

@font-face {
    font-family: TTHoves-Medium;
    src: url('/assets/fonts/TTHoves-Medium.woff') format('woff'),
        url('/assets/fonts/TTHoves-Medium.ttf');
}

.main__title {
    font-family: TTHoves-ExtraBold;
    font-size: 28px;
    color: #32495E;

}

.all_services {
    background-color: white;
    color: 32495E;
    border: 1px solid #32495E;
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding-top: 15px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
}

.row {
    border: 1px solid red;
}