@font-face {
    font-family: TTHoves-Regular;
    src: url('/assets/fonts/TTHoves-Regular.woff') format('woff'),
        url('/assets/fonts/TTHoves-Regular.ttf');
}

@font-face {
    font-family: TTHoves-DemiBold;
    src: url('/assets/fonts/TTHoves-DemiBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-DemiBold.ttf');
}

@font-face {
    font-family: TTHoves-ExtraBold;
    src: url('/assets/fonts/TTHoves-ExtraBold.woff') format('woff'),
        url('/assets/fonts/TTHoves-ExtraBold.ttf');
}

@font-face {
    font-family: TTHoves-Medium;
    src: url('/assets/fonts/TTHoves-Medium.woff') format('woff'),
        url('/assets/fonts/TTHoves-Medium.ttf');
}

.title__dark {
    font-family: TTHoves-ExtraBold;
    font-size: calc(20px + 20* (100vw / 1280));
    color: #32495E;
}

.title__white {
    font-family: TTHoves-ExtraBold;
    font-size: calc(20px + 20* (100vw / 1280));
    color: #ffffff;
}

/*header*/
.header {
    background: rgba(233, 82, 88, 0.7);
}

.usluga2__header {
    height: 43vh;
    padding-top: 70px;
}

.header__usluga2__paragrh {
    font-family: TTHoves-DemiBold;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 90px;
    color: white;
}


.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
    font-family: 'TTHoves-Medium';
}

.header__nav-list {
    padding-right: 30px;
    font-size: 14px;
    color: white;
}

.header__nav-name {
    color: white;
}

.header {
    background-image: url(../images/usluga2_main_img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__logo {
    padding-top: 20px;
    padding-left: 115px;
}

/*header end*/
.main__usluga2_scroll-section {
    background-color: #465B6E;
}


.main__usluga2_scroll-sections22,
.main__usluga2_scroll-1 {
    padding-top: 60px;
    font-family: TTHoves-Medium;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    line-height: 24px;
    color: #F9F9F9;
    background-color: #465B6E;
}

.main__usluga2_scroll-points-title {
    list-style-type: none;
    color: white;
}

@media screen and (max-width: 720px) {
    .main__usluga2_scroll-right {
        display: none;
    }
}


/*price-list*/

.price-list__header {
    font-size: 14px;
}

.price-list__service {
    font-size: 16px;
    font-weight: 800;
    line-height: 19.92px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #8093AC;
    padding-bottom: 20px;
}

@media (max-width:600px) {
    .price-list__service {
        font-size: 14px;
    }
}

.price-list__price {
    font-size: 16px;
    font-weight: 800;
    line-height: 19.92px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #32495E;
    padding-bottom: 20px;
}

.price-list__services {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #32495E;
    padding-bottom: 30px;
}

.price-list__services1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    color: #32495E;
    padding-bottom: 30px;
}

.header__price-list {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-top: 70px;
}

/*price-list end*/

/*services*/

.header__services {
    padding-top: 70px;
    padding-bottom: 40px;
}

.services {
    background-color: #32495E;
}

.services__button {
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    padding-top: 15px;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    margin-top: 30px;
}

.header__services-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.services__block {
    display: flex;
    flex-direction: column;
}

.services__block_img {
    position: relative;
    width: 100%;
    height: 220px;
}

.services__block-text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19.92px;
    color: #F9F9F9;
    padding-top: 20px;
}

.services__block_text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.43px;
    color: #F9F9F9;
    visibility: hidden;
}

.services__block_card:active {
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    background: linear-gradient(to bottom, rgba(50, 73, 94, 0.6) 50%, #E95258 50%);
    padding-top: 170px;
    padding-left: 20px;
    padding-right: 20px;
}


.services__block_text:active {
    visibility: visible;
}

/*services end*/

/* qa */
.qa__container {
    background-color: #32495E;
    padding-bottom: 20px;
}

.qa__header {
    background-color: #49647D;
    margin-left: -10%;
    margin-right: -15px;
    margin-bottom: 38px;
    padding-left: 20%;
}

.qa__container_trait {
    padding-top: 60px;
}

.qa__container_question li {
    list-style-type: none;
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 2.5;
    color: #F9F9F9;
}

.qa__container_ask {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #F9F9F9;
    padding-left: 90px;
}

.qa__container_question-text {
    font-family: 'TT Hoves', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    padding-top: 10px;
}

.img {
    background: url("/assets/images/qa_left.png") no-repeat;
    height: 16px;
    width: 16px;
}

.qa__container_question-1 {
    margin-top: 25.5px;
}

.img:hover {
    background: url("/assets/images/qa-right.png") no-repeat;
    height: 16px;
    width: 16px;
}

/* qa end */
/* reccommend */
.recommend__header {
    box-sizing: border-box;
    margin-top: 70px;
}

.recommend__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 35px;

}

.recommend__img {
    object-fit: cover;
}

/* recommend end */

/* contacts */
.contacts {
    background-color: #F9F9F9;
}

.contacts__map {
    padding-bottom: 50px;
}

.contacts__info {
    display: grid;
    grid-template-columns: 24% 24% 30% 32%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .contacts__info {
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }
}

@media screen and (max-width: 768px) {
    .contacts__info {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5px;
    }
}

.contacts__item {
    line-height: 24px;
}

.specialists__title {
    padding-top: 50px;
    padding-bottom: 30px;
}

.title-h3 {
    font-family: TTHoves-ExtraBold;
    font-size: 16px;
    color: #32495E;
}

.specialists__name-info {
    margin-bottom: 55px;
    font-family: TTHoves-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.43px;
    color: #32495E;
    text-align: justify;
}


/* contacts end */

/*footer*/
.footer {
    background-color: #333333;
}

.footer__all {
    padding-top: 70px;
}

.footer__col_title {
    font-family: 'TTHoves-ExtraBold', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
    padding-left: 15px;
}

.footer__col_link {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
}

.footer__col_rights {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footer__col_up {
    font-family: 'TTHoves-Regular', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 17px;
    color: #F9F9F9;
    transform: rotate(-90deg);
}

/*footer end*/